<div class="img-container" (mouseover)="toggleDetails()" (mouseout)="toggleDetails()">
    <div class="img-thumb-details" *ngIf="showDetails">
        <div class="col-md-6 font10">{{model.title}}</div>
        <div class="col-md-6">
            <i class="fa fa-thumbs-up"></i>{{model.favCount}}
            <i class="far fa-comment"></i>{{model.commentsCount}}
        </div>
        <div class="col-md-6 owner">by {{model.fullName}}</div>
    </div>
    <img [src]="squareMeta.url" [ngStyle]="{
              'height.px': DEFAULT_IMG_PROPS.sqHeight,
              'width.px': DEFAULT_IMG_PROPS.sqWidth
          }"/>
</div>
