<div class="fullHeight">
    <div class="count" [hidden]="!searching">Results Fetched : {{totalResults}}</div>
    <div class="content-container" #contentContainer>
        <div *ngIf="noResultsFound">
            <span> No Results found corresponding to your search </span>
        </div>
        <div [hidden]="!results.length" class="images-container" #imgContainer
            (scroll)="onContainerScroll($event)">
            <ng-container *ngFor="let img of results">
                <app-image [model]="img"></app-image>
            </ng-container>
        </div>
        <!-- <div class=""><ng-container #vc></ng-container></div> -->
    </div>
</div>
