<div class="img-summary-container fullSize">
  <div class="img-holder">
    <img [src]="fullSizeMeta.url" />
  </div>
  <div class="img-summary">
    <div class="row row1" *ngIf="model.fullName || model.userName">
      <div class="col-md-9">
        <h4><b>{{model.fullName || model.userName}}</b></h4>
      </div>
      <div class="col-md-3">
        <span class="text">
          <i class="fa fa-thumbs-up"></i>{{model.favCount}}
        </span>
        <span class="text">
          <i class="far fa-comment"></i>{{model.commentsCount}}
        </span>
      </div>
    </div>
    <div class="row" *ngIf="model.description && model.description.length">
      <div class="col-md-12">
        <h5>{{model.description}}</h5>
      </div>
    </div>
  </div>
</div>
