.modal-body {
    height: calc(100% - 56px);
    width: 100%;
    background-color: #212124;
}
.modal-header {
    background-color: black;
    border-bottom-color: black !important;
    color: white;
    span {
        color: white;
    }
}
.modal-content {
    height: 100%;
    width: 90%;
}
