.search-container {
    position: absolute;
    height: 100%;
    width: 100%;
    .search-form {
        position: relative;
        height: 100%;
        width: 100%;
        .form-group {
            width: 100%;
            .control-container {
                width: 30%;
                position: relative;
                display: table;
                left: 35%;
                top: 8px;
                .form-control {
                    display: table-cell;
                }
                .search-icon {
                    display: table-cell;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1;
                    color: #555;
                    text-align: center;
                    background-color: #eee;
                    border: 1px solid #ccc;
                    border-radius: 0px;
                    width: 5%;
                    padding: 4px 12px;
                    position: relative;
                }
                .search-suggestion-list {
                    display: table-row;
                    position: relative;
                    width: 30%;
                    margin: 0px auto;
                    top: -8px;
                    overflow-y: hidden;
                    background: #fffefe;
                    ul {
                        margin-bottom: 0px !important;
                    }
                    li {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
